@import 'https://fonts.googleapis.com/css?family=Open+Sans';

$font-stack: 'Open Sans', sans-serif;
$primary-color: #e28c26;
$secondary-color: #c83d2a;
$background-color: #75a0ca;
$white: #f7f4ed;


body {
  font: 100% $font-stack;
  color: $white;
  background-color: $background-color;

  h3{
    text-align: center;
  }

  #header {
    background-color: $white;
    padding:10px 20px;
    color: grey;

   button {
      padding:10px;
      margin-left:20px;
      border-radius: 5px;
    }

    #record-button {
        color: $white;
        background-color: $secondary-color;
    }

    #play-record-button {
      color: $white;
      background-color: $primary-color;
    }
  }

  #controls {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $secondary-color;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;

    label{
      padding-left: 20px;
    }

    input {
      color:$background-color;
    }

    button {
      padding:10px;
      margin-left:20px;
      border-radius: 5px;
    }

    #play-record-button,
    #sampling-button {
      color: $white;
      background-color: $primary-color;
    }

    #record-button {
      color: $primary-color;
    }

  }

  #videoCanvas {
    width: 100%;
    height: 100%;
  }

  #samples {
    margin: 0 auto;

    canvas {
      border: 1px solid $white;
      padding: 0;
      margin: 1px;
    }
  }

  #footer {
    background-color: $primary-color;
  }

}

#bell-grid {

    margin: 12px;
    color: $white;

    .bell-tile {
      margin: 12px;
      padding: 1em;
      border: 1px solid $white;
      background-color: $primary-color;
    }


    input {
      padding: 5px;
      width: 80%;
      color: $background-color;
    }

    button {
      padding:10px;
      border-radius: 5px;
      margin-top: 15px;
      margin-right: 10px;
      background-color: $background-color;
    }

    legend {
        color: $white;
        font-size: 22px;
    }

}

.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
