@import 'https://fonts.googleapis.com/css?family=Open+Sans';

$font-stack: 'Open Sans', sans-serif;
$orange: #e28c26;
$red: #c83d2a;
$light-blue: #75a0ca;
$dark-blue: #29566f;
$white: #f7f4ed;
$dark: #002e39;


body {
  font: 100% $font-stack;
  color: $dark-blue;
  background-color: $light-blue;

  h3{
    text-align: center;
  }

  button {
    padding:10px;
    margin-left:20px;
    border-radius: 5px;
    color: $white;
    background-color: $orange;
    &:hover{
      background-color: lighten($orange, 10);
    }
  }
    #record-button {
        color: $white;
        background-color: $red;
        &:hover {
          background-color: lighten($red, 10);
        }
    }

  #header {
    background-color: $white;
    background-image: url(../images/BellHouse_Header_Banner.jpg);
    color: $white;

    img {
      width: 350px;
    }

  }

  #controls {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $white;
    border-top: 3px solid $red;
    border-bottom: 3px solid $red;

    label{
      padding-left: 20px;
    }

    input {
      max-width: 65px;
    }

  }

  #videoCanvas {
    width: 100%;
    height: 100%;
  }

  #samples {
    margin: 0 auto;

    canvas {
      border: 1px solid $white;
      padding: 0;
      margin: 1px;
    }
  }

  #footer {
    background-color: $orange;
  }

}

#bell-grid {

    margin: 12px;
    color: $white;

    .bell-tile {
      margin: 12px;
      padding: 1em;
      border: 1px solid $white;
      background-color: $orange;
    }


    input {
      padding: 5px;
      width: 80%;
      color: $light-blue;
    }

    button {
      padding:10px;
      border-radius: 5px;
      margin-top: 15px;
      margin-right: 10px;
      background-color: $light-blue;
    }

    legend {
        color: $white;
        font-size: 22px;
    }

}

.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
