$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;

  #samples {
      canvas {
          border : 1px solid red;
      }
  }

}


.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
