
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

$font-stack: 'Open Sans', sans-serif;
$primary-color: #0f7595;
$secondary-color: #164D95;
$background-color: #333;
$white: #FFF;

body {
  font: 100% $font-stack;
  color: $white;
  background-color: $background-color;

  h3{
    text-align: center;
  }

  #header {
    background-color: white;
    padding:10px 20px;
    color: grey;
  
    .hidden{
      display:none;
    }
  }

  #controls {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $secondary-color;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;

    label{
      padding-left: 20px;
    }

    input {
      color:$background-color;
    }

    .input-button {
  	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
    }	 


    .input-button + label{
      padding:10px;
      border-top: 1px solid whitesmoke;
      border-bottom: 1px solid whitesmoke;
      background-color: $secondary-color;
      margin-left:20px;
      border-radius: 5px;
      color: #FFF;
      background-color: #66aa5d;
      cursor: pointer;
      display: none;
    }

    button {
      padding:10px;
      margin-left:20px;
      border-radius: 5px;
      color: #FFF;
      background-color: #66aa5d;
    }

    #record-button {
      color: #880000;
    }

  }

  #videoCanvas {
    width: 100%;
    height: 100%;
  }

  #vid {
    display: none;
  }

  #samples {
    margin: 0 auto;

    canvas {
      border: 1px solid whitesmoke;
      padding: 0;
      margin: 1px;
    }
  }

  #footer {
    background-color: $primary-color;
  }

}

#bell-grid {

    margin: 12px;
    color: $white;

    .bell-tile {
      margin: 12px;
      padding: 1em;
      border: 1px solid whitesmoke;
      background-color: #99b394;
    }


    input {
      padding: 5px;
      width: 80%;
      color: $background-color;
    }

    button {
      padding:10px;
      border-radius: 5px;
      margin-top: 15px;
      margin-right: 10px;
      background-color: #99b394;
    }

    legend {
        color: $white;
        font-size: 22px;
    }

}

.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}


/* ----- END OF styles.scss copy  - merge the below into it */

.flex-container .eq-slider{
	writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;  
}
.flex-container {
    display: -webkit-flex;
    display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
	justify-content: space-around;
    background-color: lightgrey;
	/*margin:10px*/
}

.flex-container div {
/*
  background-color: #f1f1f1;
  margin: 10px;
  padding:20px;
  font-size: 30px;
*/
}

.flex-item {
    background-color: cornflowerblue;
/*
    width: 100px;
    height: 300px;

    margin: 10px;
*/
}
.hidden{
	display:none;
}

